{#
/**
 * @file
 *
 * Default template for a Zurb Foundation Reveal container.
 *
 * Available variables:
 * - attributes: HTML attributes for the reveal element, already containing
     all necessary attributes, including the ID.
 * - content_attributes: HTML attributes for the link element, already
     containing the target url as href attribute.
 * - link_title: The default link title text.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <div{{ content_attributes }}>{{ content }}</div>
  {% if close_button_title %}
    <button class="close-button" data-close aria-label="{{ close_button_title }}" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  {% endif %}
</div>
